#main-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

#main-window {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Courier New", Arial, sans-serif;
}

#calculator-body {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffd026;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 15px;
}

#results-window {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5px 10px;
    text-align: right;
    border-radius: 10px;
}

#previous-expression {
    font-size: 1.75em;
    flex: 2;
}

#current-expression {
    font-size: 3em;
    flex: 3;
    justify-content: center;
    align-items: center;
}

#button-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    flex: 2.5;
}

.large-btn {
    grid-column-start: span 2;
    font-size: 1.5em;
    border-style: none;
    color: #ffffff;
    border-radius: 5px;
    
}

.large-btn:hover{
    opacity: 0.9;
}

.small-btn {
    grid-column-start: span 1;
    font-size: 1.5em;
    border-style: none;
    border-radius: 5px;
}  

.small-btn:hover{
    background-color: #d8d8d8;
}

#clear-btn{
    background-color: #4999f5;
}

#delete-btn{
    background-color: #f54949;
}

header {
    text-align: center;
    font-size: 2.5em;
    padding: 40px 0 0 0;
}

footer {
    text-align: center;
    padding: 10px;
}
